packrat/lib*/
.Rproj.user
.Rhistory
results
data
NAMESPACE.bk
.DS_Store
results_JvH
workspace
*~
rf_plots_7_study_cases.zip
knn_plots_7_study_cases.zip
plots_7study-cases.zip
svm_plots_7_study_cases.zip
R_backup.zip
previous_figures.zip
inst/doc
*.zip
#*
.#*
\#*
README.html
SRP056295
RNAseqMVA_workspace
slurm_logs
logs
srun_jobs_sent.tsv
slurm*.out
.RData
*.Rdata
check_log.txt
*_log.txt
*_log_*.txt
Rplots.pdf
