*.tar.gz
*.Rcheck/
.Rproj.user/
.Rhistory
packrat/lib*/
results
data
NAMESPACE.bk
.DS_Store
*~
inst/doc
*.zip
#*
.#*
\#*
README.html
logs
.RData
*.Rdata
check_log.txt
*_log.txt
*_log_*.txt
Rplots.pdf
